p {
    font-size: xx-large;
}

h1 {
    font-variant: small-caps;
}

button {
    width: 15vw;
    height: 5vw;
    font-size: x-large;
    border-radius: 2.5vw; /* fully oval button */
    border: solid black 2px;
    background-color: rgb(55, 79, 215, 0.7);
    color: rgb(216, 221, 68);
    font-weight: bolder;
    font-variant: small-caps;
    font-stretch: expanded;
}

/* when the button is clicked (or clicked-and-held) the style changes temporarily */
button:active {
    border: double black 4px;
    color: rgb(55, 79, 215);
    background-color: rgb(216, 221, 68);
}

#counter {
    color: brown;
}